.list {
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: rgb(206, 200, 200);
  border: 2px solid rgb(67, 63, 63);
  border-radius: 5%;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 10px;
  transform: scale(1);
  background-color: rgb(246, 255, 221);
  border: 2px solid rgb(67, 63, 63);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: transform 200ms linear, background-color 200ms linear;
}

.listItem:hover,
.listItem:focus {
  transform: scale(1.1);
  background-color: rgb(93, 193, 218);
  transition: transform 200ms linear, background-color 200ms linear;
}

.listItem:not(:last-child) {
  margin-bottom: 10px;
}
